<div id="login-form">
  <h2>WELCOME JCOMMER, LOG IN HERE</h2>
  <form action="/auth/login" method="POST">

    <label>
      Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

  <a href="/auth/signup"><button>NOT A MEMBER YET? REGISTER HERE</button></a>
</div>