<div id="admin-container">


<div id="admin-login">
  <h2 class="jcom">JCOMMERCE</h2>
  <form action="/admin/login" method="POST">

    <div class="admin-login">


   
   <div class="admin-label-holder">
      <p>USERNAME:</p>
      <input class="admin-form" type="text" name="username"/>
   </div>
    
    

    <div class="admin-label-holder">
      <p> PASSWORD: </p>
      <input class="admin-form" type="password" name="password" />
    </div>



    <div class="admin-label-holder">
            <button class="admin-form admin-button" type="submit">LOGIN</button>
    </div>
    
    
    </div>


    

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

</div>

</div>

