<a href="/products"> BACK TO PRODUCTS</a>

<div class="cart">
  <div>
    <div class="product-details">
      {{#each cartItems}}
        <div class="p-details">
          <div class="image-container">
            <img class="cart-image" src="{{this.image}}" alt={{this.title}} />
          </div>
          <div class="content-container">
            <p> {{this.title}}</p>
            <p> €{{this.price}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<button>PROCEED TO CHECKOUT</button>