<ul class="products">
  {{#each products}}
    <li style="list-style-type:none">
      <p>Price : {{this.price}}</p>
      <p>Description : {{this.description}}</p>
      <p>Category : {{this.category}}</p>
      <img src=" {{this.image}}" alt="" />
    </li>
  {{/each}}
</ul>