<h1>favorites list</h1>

<div class="container">
  <div class="row">
    {{#each favorites}}
      <div class="col-3">
        <img src="{{product.image_url}}" alt="{{product.title}}">
        <div>
          <h3>{{product.title}}</h3>
          <p class="ml-auto">{{product.price}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
