
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.footer {
  height: 300px; /* Height of the footer */
  background-color: #f5f5f5;


a {
  color: #00b7ff;
}

.product-image {
  max-width: 200px;
}

.detail {
  border: 1px solid grey;
  border-radius: 5px;
}
