@font-face {
  font-family: "ocr";
  src: url("/fonts/OCRAStd.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: black;
  --secondary-color: rebeccapurple;
  --tertiary-color: orange;
  --text-color: #00ff66;
}

/*
var(--primary);
var(--secondary);
var(--tertiary);
*/

* {
  font-family: "ocr";
  color: var(--text-color);
  background-color: var(--primary-color);
}

html {
  height: 1%;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  background-color: var(--primary-color);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  height: 200px;
  background-color: var(--primary-color);
  border: 5px solid var(--secondary-color);
  border-radius: 3px;
}

footer h5,
footer p,
footer span {
  color: var(--secondary-color);
}

.product {
  background-color: var(--primary-color);
  border: 5px solid var(--secondary-color);
  border-radius: 3px;
  color: var(--text-color);
  padding: 20px;
  height: 400px;
  text-align: center;
  overflow: auto;
  margin: 30px 15px;
}

.product-image {
  max-width: 200px;
  max-height: 200px;
  padding-bottom: 20px;
}

.list-text p:hover {
  color: var(--text-color);
  text-decoration: none;
}

.product-detail {
  margin: 110px;
}

.detail-image {
  padding: 30px;
}

.detail-text {
  padding: 30px;
}

.rating {
  color: var(--tertiary-color);
}

#cart-icon {
  width: 30px;
}

#cart-button {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.navbar-brand {
  color: var(--tertiary-color);
}

.navbar-brand:hover {
  color: var(--tertiary-color);
}

.nav-btn {
  color: var(--tertiary-color);
}

.nav-btn:hover {
  color: var(--tertiary-color);
  text-decoration: none;
}

nav {
  border-bottom: 5px solid var(--tertiary-color);
}

#logo {
  width: 40px;
  margin-right: 10px;
}

button {
  border: 5px solid var(--text-color);
  border-radius: 3px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  text-decoration: none;
}

/* ADMIN CSS */

.admin-container {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  font-family: "ocr";
  color: var(--text-color);
  z-index: 100;
  overflow: hidden;
}

#admin-login {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 150;
}

.admin-form {
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.admin-login {
  display: flex;
  flex-direction: column;
}

.admin-button {
  border: 5px solid var(--text-color);
  width: 100%;
}

.admin-label-holder {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.jcom {
  font-size: 10em;
}
#admin-dashboard {
  overflow: hidden;
  color: var(--text-color);
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 150;
}

/* LOGIN REGISTRATION */
.auth-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.receipt-container {
  min-height: 100vh;
  width: 99%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.purchase {
  border: 2px solid var(--secondary-color);
  display: flex;
  align-items: flex-start;
  width: 20%;
  padding: 1%;
  overflow: hidden;
  padding: 1%;
  margin: 2%;
}

.button-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.flex-form {
  display: flex;
  flex-direction: column;
}
