

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#cart-icon {
  width: 30px;
}

#cart-button {
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
