<<<<<<< HEAD:views/products.hbs
<h1 style="text-align: center;">Latest Products</h1>
<hr />

{{! <div class="p-btns">
  <button>All</button>
  <button>Men's Clothing</button>
  <button>Women's Clothing</button>
  <button>Jewelery</button>
  <button>Electronic</button>
</div> }}
=======
<h1>products list</h1>
>>>>>>> main:views/products/products-list.hbs

<ul class="products">
  {{#each products}}
    <li style="list-style-type:none">
      <img src=" {{this.image}}" alt="" />
      <p>Category : {{this.category}}</p>
      <p>Price : ${{this.price}}</p>
      <button>
        <a href="/products/{{this.id}}">Buy Now</a>
      </button>
    </li>
  {{/each}}
</ul>
