<h1 style="text-align: center;">Latest Products</h1>
<hr />

<ul class="products">
  {{#each products}}
    <li style="list-style-type:none">
      <img src=" {{this.image}}" alt="" />
      <p>Category : {{this.category}}</p>
      <p>Price : ${{this.price}}</p>

      <form action="/products/{{this.id}}" method="GET">
        <button type="submit">Buy Now</button>
      </form>
    </li>
  {{/each}}
</ul>