


<div class="container">
    <div class="row product-detail">
        <div class="col-md-4">
            <img src="{{ product.image }}" alt="Product Image" class="img-fluid detail-image">
        </div>
        <div class="col-md-8 detail-text">
            <h2 class="title">{{product.title}}</h2>
            <p class="price">${{product.price}}</p>

            <p class="description">{{product.description}}</p>
            <button class="btn btn-primary" id="add-to-cart">Add to Cart</button>
        </div>
    </div>
</div>
