<h1>products list</h1>

<div class="container">
  <div class="row">
    {{#each products}}
    <div class="col-3">
      <img src="{{image_url}}" alt="{{title}}">
      <div>
        <h3>{{title}}</h3>
        <p class="ml-auto">{{price}}</p>
      </div>
    </div>
  {{/each}}
  </div>
</div>
